/* Tag styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

img {
  vertical-align: middle;
  max-width: 100%; /**** 避免過大撐開破版 ****/
  height: auto; /***** 避免圖片變形 ******/
}

a {
  color: var(--neutral-900);
  text-decoration: none;
  display: block;
  font-weight: 500;
}

/* common styles */
.container {
  width: 1296px;
  margin: 0 auto;
}

.row {
  /****************/
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 1); /***** width: calc(100%/..*..) *******/
}
.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 2);
}
.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 3);
}
.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 4);
}
.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 5);
}
.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 7);
}
.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 8);
}
.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 9);
}
.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 10);
}
.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 11);
}
.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 12);
}

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}
.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.h6 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.text-md {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}
.text-sm {
  font-size: 14px;
}

.text-primary-400 {
  color: var(--primary-400);
}
.text-neutral-600 {
  color: var(--neutral-600);
}
.text-neutral-900 {
  color: var(--neutral-900);
}

.text-danger {
  color: var(--danger-300);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-neutral-100 {
  background: var(--neutral-100);
}

.p-12 {
  padding: 12px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.me-24 {
  margin-inline-end: 24px;
}
.me-40 {
  margin-inline-end: 40px;
}
.me-48 {
  margin-inline-end: 48px;
}
